<div class="card" style='max-width:700px;'>
    <div class="card-header">
        <b>New KeyPair</b>
    </div>
    <div class="card-body">
        <p><b>Public: </b><%= new_keyPair.publicKey() %></p>
        <p><b>Secret: </b><%= new_keyPair.secret() %></p>
    </div>
</div>